<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>项目管理</title>
  <link rel="stylesheet" href="../css/user.css">
  <!-- 引入element-ui样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- 开发环境版本，包含了有帮助的命令行警告 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <!--  axios网络请求库 -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <!-- 加载中... -->
    <div id="loads" v-show="fullscreenLoading">
      <el-skeleton :rows="2" animated :throttle="500" />
    </div>

    <div class="fen1"></div>

    <el-input v-show="!fullscreenLoading" placeholder="项目名称" v-model="project_name" style="width: 200px;"
      class="filter-item"></el-input>

    <el-button v-show="!fullscreenLoading" icon="el-icon-search" class="dalfBut" @click="sousuo()">查询</el-button>

    <el-button v-show="!fullscreenLoading" type="primary" class="butT" @click="handleCreate()">新增项目</el-button>

    <div class="fen2"></div>

    <!-- 加载中... -->
    <div id="loads" v-show="fullscreenLoading">
      <el-skeleton :rows="7" animated :throttle="500" />
    </div>

    <el-table v-show="!fullscreenLoading" :data="projectList" @cell-mouse-enter="cellMouseEnter"
      @cell-mouse-leave="cellMouseLeave" border stripe style="width: 100%">
      <el-table-column align="center" prop="id" label="项目编号" width="60">
      </el-table-column>
      <el-table-column align="center" prop="project_name" label="项目名称">
      </el-table-column>
      <el-table-column align="center" prop="signing_time" label="签约时间">
      </el-table-column>
      <el-table-column align="center" prop="our_litigant" label="我方当事人">
        <template slot-scope="scope">
          <el-popover trigger="hover" placement="top" :data="litigants">
            <p>姓名: {{ litigants.name }}</p>
            <p>联系方式: {{ litigants.phone }}</p>
            <p v-if="litigants.ispersonal === '1'">身份证号: {{ litigants.idcard_num }}</p>
            <p v-if="litigants.ispersonal === '0'">社会信用统一代码: {{ litigants.credit_num }}</p>
            <p v-if="litigants.ispersonal === '0'">注册地: {{ litigants.registration_location }}</p>
            <p v-if="litigants.ispersonal === '1'">户籍地: {{ litigants.registered_residence }}</p>
            <p>经常居住地: {{ litigants.habitual_residence }}</p>
            <p>状态: {{ litigants.status }}</p>
            <p>备注: {{ litigants.remarks }}</p>
            <div slot="reference" class="name-wrapper">
              <el-tag size="medium">{{ scope.row.our_litigant }}</el-tag>
            </div>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column align="center" prop="your_litigant" label="对方当事人">
        <template slot-scope="scope">
          <el-popover trigger="hover" placement="top" :data="litigants">
            <p>姓名: {{ litigants.name }}</p>
            <p>联系方式: {{ litigants.phone }}</p>
            <p v-if="litigants.ispersonal === '1'">身份证号: {{ litigants.idcard_num }}</p>
            <p v-if="litigants.ispersonal === '0'">社会信用统一代码: {{ litigants.credit_num }}</p>
            <p v-if="litigants.ispersonal === '0'">注册地: {{ litigants.registration_location }}</p>
            <p v-if="litigants.ispersonal === '1'">户籍地: {{ litigants.registered_residence }}</p>
            <p>经常居住地: {{ litigants.habitual_residence }}</p>
            <p>状态: {{ litigants.status }}</p>
            <p>备注: {{ litigants.remarks }}</p>
            <div slot="reference" class="name-wrapper">
              <el-tag size="medium">{{ scope.row.your_litigant }}</el-tag>
            </div>
          </el-popover>
        </template>
      </el-table-column>
      <el-table-column align="center" prop="litigation_type" label="诉讼类型">
      </el-table-column>
      <el-table-column align="center" prop="case_source" label="案件来源">
      </el-table-column>
      <el-table-column align="center" prop="reason" label="事由">
      </el-table-column>
      <el-table-column align="center" prop="charging_type" label="收费方式">
      </el-table-column>
      <el-table-column align="center" prop="agency_scope" label="代理范围">
      </el-table-column>
      <el-table-column align="center" prop="closing_conditions" label="结案条件">
      </el-table-column>
      <el-table-column align="center" prop="entered_by" label="录入人">
      </el-table-column>
      <el-table-column align="center" label="操作">
        <template slot-scope="scope">
          <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
        </template>
      </el-table-column>
    </el-table>


    <!-- 新增标签弹层 -->
    <div class="add-form">
      <el-dialog title="新增项目" :visible.sync="dialogFormVisible">
        <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right" label-width="200px">
          <el-row>
            <el-col :span="15">
              <el-form-item label="项目名称" prop="project_name">
                <el-input v-model="formData.project_name" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="15">
              <el-form-item label="签约时间" prop="signing_time">
                <el-date-picker v-model="formData.signing_time" type="date" placeholder="选择签约时间"
                  :picker-options="pickerOptions">
                </el-date-picker>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="15">
              <el-form-item label="我方当事人" prop="our_litigant">
                <el-input v-model="formData.our_litigant" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="15">
              <el-form-item label="对方当事人" prop="your_litigant">
                <el-input v-model="formData.your_litigant" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="诉讼类型" prop="litigation_type">
                <el-select v-model="formData.litigation_type" placeholder="请选择类型">
                  <el-option label="非诉" value="非诉"></el-option>
                  <el-option label="诉讼" value="诉讼"></el-option>
                  <el-option label="法律顾问" value="法律顾问"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="案件来源" prop="case_source">
                <el-select v-model="formData.case_source" placeholder="请选择来源">
                  <el-option label="律所" value="律所"></el-option>
                  <el-option label="个人" value="个人"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="15">
              <el-form-item label="事由" prop="reason">
                <el-input v-model="formData.reason" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="收费方式" prop="charging_type">
                <el-select v-model="formData.charging_type" placeholder="请选择收费方式">
                  <el-option label="固定收费" value="固定收费"></el-option>
                  <el-option label="纯风险" value="纯风险"></el-option>
                  <el-option label="半风险" value="半风险"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="15">
              <el-form-item label="收费约定" prop="fee_agreement">
                <el-input v-model="formData.fee_agreement" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="15">
              <el-form-item label="代理范围" prop="agency_scope">
                <el-input v-model="formData.agency_scope" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="15">
              <el-form-item label="结案条件" prop="closing_conditions">
                <el-input v-model="formData.closing_conditions" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="15">
              <el-form-item label="录入人" prop="entered_by">
                <el-input v-model="formData.entered_by" />
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取消</el-button>
          <el-button type="primary" @click="handleAdd()">确定</el-button>
        </div>
      </el-dialog>
    </div>

    <!-- 编辑标签弹层 -->
    <div class="add-form">
      <el-dialog title="编辑项目信息" :visible.sync="dialogFormVisible4Edit">
        <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right" label-width="200px">
          <el-row>
            <el-col :span="15">
              <el-form-item label="项目名称" prop="project_name">
                <el-input v-model="formData.project_name" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="15">
              <el-form-item label="签约时间" prop="signing_time">
                <el-date-picker v-model="formData.signing_time" type="date" placeholder="选择签约时间"
                  :picker-options="pickerOptions">
                </el-date-picker>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="15">
              <el-form-item label="我方当事人" prop="our_litigant">
                <el-input v-model="formData.our_litigant" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="15">
              <el-form-item label="对方当事人" prop="your_litigant">
                <el-input v-model="formData.your_litigant" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="诉讼类型" prop="litigation_type">
                <el-select v-model="formData.litigation_type" placeholder="请选择类型">
                  <el-option label="非诉" value="非诉"></el-option>
                  <el-option label="诉讼" value="诉讼"></el-option>
                  <el-option label="法律顾问" value="法律顾问"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="案件来源" prop="case_source">
                <el-select v-model="formData.case_source" placeholder="请选择来源">
                  <el-option label="律所" value="律所"></el-option>
                  <el-option label="个人" value="个人"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="15">
              <el-form-item label="事由" prop="reason">
                <el-input v-model="formData.reason" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="收费方式" prop="charging_type">
                <el-select v-model="formData.charging_type" placeholder="请选择收费方式">
                  <el-option label="固定收费" value="固定收费"></el-option>
                  <el-option label="纯风险" value="纯风险"></el-option>
                  <el-option label="半风险" value="半风险"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="15">
              <el-form-item label="收费约定" prop="fee_agreement">
                <el-input v-model="formData.fee_agreement" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="15">
              <el-form-item label="代理范围" prop="agency_scope">
                <el-input v-model="formData.agency_scope" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="15">
              <el-form-item label="结案条件" prop="closing_conditions">
                <el-input v-model="formData.closing_conditions" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="15">
              <el-form-item label="录入人" prop="entered_by">
                <el-input v-model="formData.entered_by" />
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
          <el-button type="primary" @click="handleEdit()">确定</el-button>
        </div>
      </el-dialog>
    </div>

    <!-- 加载中... -->
    <div id="loads" v-show="fullscreenLoading">
      <el-skeleton :rows="3" animated :throttle="500" />
    </div>

    <!-- 分页 -->
    <div v-show="!fullscreenLoading" class="pages" align="center">
      <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage"
        :page-sizes="[10, 20, 30, 40]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper"
        :total="totalnum">
      </el-pagination>
    </div>


  </div>
</body>
<script>
  var vue = new Vue({
    el: "#app",
    data() {
      return {
        currentPage: 1, //初始页
        pageSize: 10, //    每页的数据
        totalnum: 0,
        projectList: [], //项目列表数据
        litigants: {},
        project_name: '',  //姓名
        formData: {},//表单数据
        dialogFormVisible: false,//控制表单是否可见
        dialogFormVisible4Edit: false,//编辑表单是否可见
        dialogFormVisible4Pass: false,//查看密码表单是否可见
        rules: {//校验规则
          project_name: [{ required: true, message: '项目名称为必填项', trigger: 'blur' }],
        },
        fullscreenLoading: true,  //加载
        pickerOptions: {
          disabledDate(time) {
            return time.getTime() > Date.now();
          },
          shortcuts: [{
            text: '今天',
            onClick(picker) {
              picker.$emit('pick', new Date());
            }
          }, {
            text: '昨天',
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24);
              picker.$emit('pick', date);
            }
          }, {
            text: '一周前',
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', date);
            }
          }]
        },
      };
    },
    //VUE对象初始化完成后自动执行
    created() {
      this.openFullScreen1();
      this.getProjectsAll(this.currentPage);
    },
    methods: {
      //加载骨架屏
      openFullScreen1() {
        this.fullscreenLoading = true;
        setTimeout(() => {
          this.fullscreenLoading = false;
        }, 2000);
      },
      cellMouseEnter(row, column, cell, event) {
        this.litigants = {};
        // 处理鼠标移入表格单元格的逻辑
        if (column.id == 'el-table_1_column_4') {
          params = { name: row.our_litigant, litigant_type: '我方' }
          axios.get("http://localhost:8080/admin/litigants/litigantinfo", { params: params }).then((res) => {
            //this.totalnum = res.data.nums;
            if (res.data.data.length != 0) {
              this.litigants = res.data.data[0];
            }
          });
        } else if (column.id == 'el-table_1_column_5') {
          params = { name: row.your_litigant, litigant_type: '对方' }
          axios.get("http://localhost:8080/admin/litigants/litigantinfo", { params: params }).then((res) => {
            //this.totalnum = res.data.nums;
            if (res.data.data.length != 0) {
              this.litigants = res.data.data[0];
            }
          });
        }
      },
      cellMouseLeave(row, column, cell, event) {
        // 处理鼠标移入表格单元格的逻辑
        this.isPopoverVisible = false
      },
      sousuo() {
        if (this.project_name.trim().length === 0) {
          this.getProjectsAll(this.currentPage);
        } else {
          axios.get("http://localhost:8080/admin/project/" + this.project_name).then((res) => {
            this.totalnum = res.data.nums;
            this.projectList = res.data.data.map(item => ({
              ...item
            }));
          });
        }
      },
      //获取所有用户列表数据
      getProjectsAll(page) {
        axios.post("http://localhost:8080/admin/project/page", { page: page, pageSize: this.pageSize }).then((res) => {
          this.totalnum = res.data.nums;
          this.projectList = [];
          this.projectList = res.data.data.map(item => ({
            ...item
          }));
        });
      },
      handleSizeChange(val) {
        this.pageSize = val;
        this.getProjectsAll(this.currentPage);
      },
      handleCurrentChange(val) {
        this.currentPage = val;
        this.getProjectsAll(val);
      },
      //弹出新增表单窗口
      handleCreate() {
        this.dialogFormVisible = true;
        this.resetForm();
      },
      //重置表单
      resetForm() {
        this.formData = {};
      },
      //提交新增表单
      handleAdd() {
        //console.log(this.formData);
        if (this.formData.project_name != null) {

          axios.post("http://localhost:8080/admin/project/save", this.formData).then((res) => {
            //console.log(res.data);
            //如果操作成功，关闭弹层，显示数据
            if (res.data.code == 20021) {
              this.dialogFormVisible = false;
              this.$message.success("新增项目成功");
            } else if (res.data.code == 20020) {
              this.$message.error("新增项目失败");
            } else {
              this.$message.error("未知错误");
            }
          }).finally(() => {
            this.getProjectsAll();
          });

        } else {
          this.$message.warning("请按照规范填写信息");
        }
      },
      //弹出编辑表单窗口
      handleUpdate(row) {
        this.dialogFormVisible4Edit = true;
        console.log(row);   //row.id 查询条件
        //查询数据，根据id查询
        this.formData = row;
        this.dialogFormVisible4Edit = true;

      },
      //编辑
      handleEdit() {
        if (this.formData.project_name != null) {
          //发送ajax请求
          axios.put("http://localhost:8080/admin/project/put", this.formData).then((res) => {
            //如果操作成功，关闭弹层，显示数据
            if (res.data.code == 20031) {
              this.dialogFormVisible4Edit = false;
              this.$message.success("编辑成功");
            } else if (res.data.code == 20030) {
              this.$message.error("编辑失败");
            } else {
              this.$message.error("未知错误");
            }
          }).finally(() => {
            this.getProjectsAll();
          });
        } else {
          this.$message.warning("请按照规范填写信息");
        }

      },
      //删除，因为项目有锁定功能，所以将删除替换为查看密码等功能
      //删除方法名还是为删除，就不变了，以免后续维护麻烦
      handleDelete(row) {
        this.dialogFormVisible4Pass = true;
        axios.get("http://localhost:8080/admin/project/" + row.id).then((res) => {
          //console.log(res);
          if (res.data.code == 20011) {
            //展示弹层，加载数据
            this.formData = res.data.data;
            this.dialogFormVisible4Pass = true;
          } else {
            this.$message.error("未知错误");
          }
        });
      }
    },

  });
</script>

</html>